<div class="row product-row">
	<div class="col-xs-12">
		<div id="<%= device.name.downcase %>" class="product page-section">

			<header class="blue-header">
		  	<h2 class="device-name"><%= device.name %></h2>
		  </header>
		  <div class="section-body">

			  <%= render device.models %></div>
			</div>
	</div>
</div>