<% @data.each do |device| %>
  <div class="col-sm-3 col-xs-6 col-xs-offset-3 col-sm-offset-0 text-center text-center job-choice">

    <%= f.button name: "device_id", value: device.id, class: "" do %>
    	<%= image_tag "phones/#{device.name.downcase}.png"%>
    	<span class="btn btn-primary"><%= device.name %></span>
    <% end %>
  </div>
<% end %>
