<% @data.each do |network| %>
  <div class="col-sm-3 col-xs-6 col-xs-offset-3 col-sm-offset-0 text-center job-choice">
  	<%= image_tag("#{network.name.downcase}.png") %>
    <%= f.button network.name, name: "network_id", value: network.id, class: "btn btn-primary" %>
  </div>
<% end %>
