<%= render partial: '/shared/banner', locals: { title: "We Aren't In Your Area!"} %>
<div class="section-page-landing">
  <div class="inner-section">
    <div class="container">
      <h2 class="text-center">Sorry About That!</h2>
      <p>
        We're working hard to get all over North America but haven't gotten into your location yet.
      </p>
    </div>
  </div>
</div>

