<!-- HEADER SECTION CONTENT -->
<div class="shade">

</div>
<div id="banner" class="awesome-slogan">
  <h2>
    We Can <span>Fix</span> That!
  </h2>
  <h4>
    Don't <span>Pine</span> Over Your <span>Broken Products</span>
  </h4>


  <%= link_to root_path(anchor: "repairs") do %>
    <button class="btn btn-primary">
      Pineapple's Repairs
      <span class="icon-arw-down">&#10148;</span>
    </button>
  <% end %>



 <!--  <p>Follow Us</p>

  <div class="clear"></div>

  <div class="social-icons">
    <a href="https://www.facebook.com/pineapplerepairs" data-toggle="tooltip" title="Facebook">
      <%=image_tag "social-icons/facebook.png", alt: "Facebook icon"%>
    </a>
    <a href="#fakelink" data-toggle="tooltip" title="Twitter">
      <%=image_tag "social-icons/twitter.png", alt: "Twitter icon"%>
    </a>
    <a href="#fakelink" data-toggle="tooltip" title="Youtube">
      <%=image_tag "social-icons/youtube.png", alt: "Youtube icon"%>
    </a>
  </div> -->
</div>
<!-- END HEADER SECTION CONTENT -->
