<div class="banner">
  <!-- HEADER SECTION CONTENT -->
  <div class="shade">

  </div>
  <div id="banner" class="awesome-slogan">
    <h2>
      <%= title %>
    </h2>
   
  </div>
  <!-- END HEADER SECTION CONTENT -->
</div>

