<div class="banner homepage">

  <div id="banner" class="awesome-slogan container">
    <h2>
      Don't Pine Over <br/> Your <span>Apple</span> Products
    </h2>
    <h4>
      A Technician will meet you at a location of <br/>
      your choice to repair your apple and non apple devices
    </h4>
  </div>
</div>

