<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-4">
        <h5>ABOUT US</h5>
        <p>
        It all started with a fall on some black ice. Screen cracked, and LCD below, I was iPhone less, a feeling akin to being shoeless - everything was a little harder. Just one month after starting at SFU my connection to figuring out how to get around the campus, and organize my day was all gone, I found myself wondering...
        <br />
        <a href="/about">Read more</a>
        </p>
      </div>
      <div class="col-sm-4">
        <h5>NAV MENUS</h5>
        <ul>
          <li><a href="#search">Search</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#services">Our Services</a></li>
          <li><a href="#find-us">Find Us</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h5>OUR LOCATION</h5>
        <address>
          <strong>Pineapple Repairs</strong><br>
          Waterfront Station<br>
          25-601 West Cordova Street<br>
          Vancouver, BC, Canada<br>
          Toll Free: 1 (888) 5 REPAIR<br>
          Main Line: 778 889 7642
        </address>

        <address>
          <strong>Email : </strong>
          <a href="mailto:pineapplerepairs@gmail.com">pineapplerepairs@gmail.com</a>
        </address>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      &copy; 2014 <a href="http://ctulip.me">Christopher Tulip</a><br/>
    </div>
  </div>
</footer>
<!-- END FOOTER -->
