<!-- SECTION FEATURES -->
<div class="section-page-landing section-light-grey" id="features">
  <div class="inner-section">
    <div class="container">

      <!-- SECTION TITLE -->
      <h2 class="text-center">What We Do</h2>

      <!-- WRITE SOMETHING ABOUT FEATURES HERE -->
      <h4 class="text-center">
        Have you ever dropped your iPhone or your iPod, iPad, or even Macbook? That right there is what we fix.  Customers just like you have benefited from our speedy service, convenient location downtown near waterfront station, and our 1 year warranty, that customers love to tweet about.  We'll guarantee once you experience our service and you'll see why our customers give us the ratings we've earned.
      </h4>
      <!-- END FEATURES DESCRIPTION -->

      <!-- FEATURES COLUMN -->
      <div class="row">
        <div class="col-md-4 col-sm-10">
          <div class="the-box-landing border-hover-bottom text-center">
            <h4>FAST RELIABLE FIXES</h4>
            <img src="/flat-icon/s1.png" class="small-icon" alt="Features image">
            <p>
              365 Day Warranty - 30 Minute Turn Around - Shop in Waterfront Station
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-10">
          <div class="the-box-landing border-hover-bottom text-center">
            <h4>WE FIX EVERYTHING</h4>
            <img src="/flat-icon/s2.png" class="small-icon" alt="Features image">
            <p>
              iPhone, BlackBerry, Android, Laptops, Macbook, Desktops, iPads, iPods, Software Solutions
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-10">
          <div class="the-box-landing border-hover-bottom text-center">
            <h4>REQUEST A REPAIR</h4>
            <img src="/flat-icon/s7.png" class="small-icon" alt="Features image">
            <p>
              Tell us the issue using the wizard above and our technicians will be in touch as soon as possible!
            </p>
          </div>
        </div>
      </div>
      <!-- END FEATURES COLUMN -->

    </div>
  </div>
</div>
<!-- END SECTION FEATURES -->
