<!-- SECTION FEATURES -->
<div class="section-page-landing section-light-grey" id="features">
  <div class="inner-section">
    <div class="container">

      <!-- SECTION TITLE -->
      <h2 class="text-center">What We Do</h2>

      <!-- WRITE SOMETHING ABOUT FEATURES HERE -->
      <p class="text-center">
        Have you ever dropped your iPhone or your iPod, iPad, or even Macbook? That right there is what we fix.  Customers just like you have benefited from our speedy service, convenient location downtown near waterfront station, and our one year warranty, that customers love to tweet about.  We'll guarantee once you experience our service and you'll see why our customers give us the ratings we've earned.
      </p>
      <!-- END FEATURES DESCRIPTION -->

      <!-- FEATURES COLUMN -->
      <div class="row features">
        <div class="col-md-4 col-sm-10 col-sm-offset-1 col-md-offset-0">
          <div class="the-box-landing border-hover-bottom text-center feature">
            <h4>FAST RELIABLE FIXES</h4>
            <span class="icon-kub-time"></span>
            <p>
              365 Day Warranty - 30 Minute Turn Around - Shop in Waterfront Station
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-10 col-sm-offset-1 col-md-offset-0">
          <div class="the-box-landing border-hover-bottom text-center feature">
            <h4>WE FIX EVERYTHING</h4>
            <span class="icon-kub-cog"></span>
            <p>
              iPhone, BlackBerry, Android, Laptops, Macbook, Desktops, iPads, iPods, Software Solutions
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-10 col-sm-offset-1 col-md-offset-0">
          <div class="the-box-landing border-hover-bottom text-center feature">
            <h4>REQUEST A REPAIR</h4>
            <span class="icon-kub-avatar-01"></span>
            <p>
              Tell us the issue using the wizard above and our technicians will be in touch as soon as possible!
            </p>
          </div>
        </div>
      </div>
      <!-- END FEATURES COLUMN -->

    </div>
  </div>
</div>
<!-- END SECTION FEATURES -->
