<!-- SECTION SERVICES -->
<div class="section-page-landing section-grey" id="repairs">
  <div class="inner-section">
    <div class="container">
      <h2 class="text-center">What's Broken?</h2>

      <p class="text-center">
      	Choose the device you need fixed, and then the repair you need, and we'll have a technician go directly to you to fix it.
      </p>

      <div class="row devices">
        <%= form_for Job.new do |f| %>
          <% @devices.each do |device| %>
            <div class="col-sm-4 device">
              <%= f.button :submit, name: "device_id", value: device.id do %>
                <%= image_tag "#{device.name.downcase}.png" %>
                <span class="btn btn-primary"><%= device.name %></span>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- END SECTION SERVICES -->
