<!-- SECTION SERVICES -->
<div class="section-page-landing section-grey" id="services">
  <div class="inner-section">
    <div class="container">
      <h2 class="text-center">Our Services</h2>
      <h4 class="text-center">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
      </h4>

      <div class="hi-icon-effect-1 hi-icon-effect-1a">
        <div class="row">
          <div class="col-sm-3">
            <div class="the-box-landing the-box-transparent text-center">
              <h4>WEB DESIGN</h4>
              <a href="#fakelink" class="hi-icon hi-icon-screen">Web Design</a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="the-box-landing the-box-transparent text-center">
              <h4>UI DESIGN</h4>
              <a href="#fakelink" class="hi-icon hi-icon-images">UI Design</a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="the-box-landing the-box-transparent text-center">
              <h4>MOBILE APPS</h4>
              <a href="#fakelink" class="hi-icon hi-icon-mobile">Mobile Apps</a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="the-box-landing the-box-transparent text-center">
              <h4>WEB HOSTING</h4>
              <a href="#fakelink" class="hi-icon hi-icon-archive">Web Hosting</a>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <h2 class="text-center">What They Say About Us?</h2>


      <!-- TESTIMONIAL CAROUSEL -->
      <div id="carousel-testimonial" class="carousel-landing carousel carousel-testimonial slide" data-ride="carousel">

      <div class="testimonial-icon">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>
        </span>
      </div>

        <!-- Indicators -->
        <ol class="carousel-indicators">
        <li data-target="#carousel-testimonial" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-testimonial" data-slide-to="1"></li>
        <li data-target="#carousel-testimonial" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
        <div class="item active">
          <div class="testimonial-inner">
            <h5>
              &#34; I had a perfectly mint condition phone, but the battery was toast and the power button refused to work.

              He gave me an extremely fair quote over the phone, and was more than happy to adhere to those numbers when I went in, with no additional fees or hidden charges (nice piece of mind).
               &#34;
            </h5>
            <h4 class="testimonial-name">
              Mitch M., Yelp
            </h4>
          </div>
        </div>
        <div class="item">
          <div class="testimonial-inner">
            <h5>
              &#34; These guys resuscitated my iPhone today after it went through a 6-foot drop and a major concussion. So grateful for the quick and speedy repair! Owner was super friendly and personable, will definitely be coming back here for future phone fixtures!!! &#34;
            </h5>
            <h4 class="testimonial-name">
              Youna C., Yelp
            </h4>
          </div>
        </div>
        <div class="item">
          <div class="testimonial-inner">
            <h5>
              &#34; Quick, competent, and friendly service. I've had an iPad and a MacBook screen repaired by them, and both look great. The price is right, too! &#34;
            </h5>
            <h4 class="testimonial-name">
              Ryan C., Yelp
            </h4>
          </div>
        </div>
        </div>
      </div>
      <!-- END TESTIMONIAL CAROUSEL -->

    </div>
  </div>
</div>
<!-- END SECTION SERVICES -->
