<div class="wrapper about">


	<div id="body-content">
		<div class="section-page-landing section-transparent">
			<div class="inner-section">
				<div class="container">

					<h2>Quality, Simplicity &amp; Convenience.</h2>
					<p> If we had a “Mission Statement”, it would likely revolve around what we beleive. The three words above are some of the things we pride ourselves with.
					</p>
				</div>
			</div>
		</div>
		<div class="section-page-landing section-light-grey">
			<div class="inner-section">
				<div class="container">

					<h2 class="has-sub">About Us</h2>

					<h3>It all started with some broken glass.</h3>
					
					<p> It all started with a fall on some black ice. Screen cracked, and LCD below, I was iPhone less, a feeling akin to being shoeless - everything was a little harder. Just one month after starting at SFU my connection to figuring out how to get around the campus, and organize my day was all gone, I found myself wondering if it was fixable, and how much it would be. A friend to told me to look it up on craigslist, the guy on the other line wanted $140, I told him “thanks”. I went to the Apple store and they wanted $229. So I opted for what I knew best, D.I.Y. I bought the parts on eBay, and watched Youtube Vidoes on how to do it. I wasn’t successful the first time around, but after a few go’s at it, I had a decent fix on my iPhone 3G.
					</p>
					<p>
					 Soon though, I realized there was a market, others like me have experienced the pain of a broken device, and wondered what to do about it. I found myself brainstorming about launching my own repair shop, based completely online, that could be centered on my love for design and efficiency. I felt like the repair community at the time was really lacking in this area, and apparently this idea of a clean, simple, efficient repair for tech products connected with many people in the lower mainland. What started as an outlet for my passion and an entrepreneurial experiment quickly grew into much more than just fixing a few iPhone screens.
					</p>
				</div>
			</div>
		</div>
		<div class="section-page-landing section-grey">
			<div class="inner-section">
				<div class="container">

					<h2>Finding Our Space.</h2>
					<p> Going door to door is fun. You meet some amazing people, sip on a few glasses of wine, and occasionally play a hand or two. But there are downsides to all this fun. You’re not legitimate. No brick and mortar location meant no accountability. I could only take the business so far. The reputation and ability to create real change in the repair community was out of reach if I maintained mobile repairs. Plus let’s not forget the rain. It bears down on us, as though it doesn't already know the cold is going at us already, and the puddles are placed perfectly to get your pants and shoes wet. It was in February of 2009 that I decided it was time for a shop. We’ve moved from location to location since then, realizing the flaws in all, and have now settled at the historic Waterfront Station. It’s Vancouver’s transit hub, we have the Canada Line, Sky Train, and Seabus all making the station their final destination. I felt this would be the most convenient location for the majority of Vancouverites, and the neighboring suburbs.
					</p>
				</div>
			</div>
		</div>

		<div class="section-page-landing section-transparent">
			<div class="inner-section">
				<div class="container">

					<h2>It Feels Good.</h2>
					<p> One morning, only a few days after I had formally started repairing devices I remember waking up to a phone call. "My phone" she said, in an aged voice. "It fell from my counter, its all cracked up... can you fix it?". I'm not a doctor, nor do I ever plan on being one. But I felt, what it probably feels like to be a doctor, I could help people, they had problems, dilemmas and worries, I had fixes, solutions, and a smile. I met with the women later that afternoon at a coffee shop on Davie, she left with a smile, so did I. It feels good to help, no one’s ever angry to see the guy who fixes their most beloved device. I frankly can't imagine what the life of a repo-man must be like. Life is good, when you are the good in people's lives.
					</p>
				</div>

			</div>
		</div>

		

	

		<div class="section-page-landing section-light-grey">
			<div class="inner-section">
				<div class="container">

					<h2 class="has-sub">Pineapple Gives Back.</h2>
					<h3>200 meals donated so far.</h3>
					<p> Another pillar of Pineapple Repairs is the desire to give back to those in need. We’re 2 years deep into running Pineapple Repairs, but we’re just beginning our work in charity. Every holiday season we hold our annual Pineapple Repairs Gives back charity drive - donating to children in need for each item sold during the holiday season. We’ve partnered with Rice Bowl, and over two years, we’ve been able to give over 200 meals to needy children around the world. We’re grateful for the support of you, our customers and the ability to share our success with those in need.
					</p>

					<p> We’ve been fortunate to have the support of you, our customer, so we though it would only be right to spread the fortune around. we’ve been able to donate over 200 meals to needy children all over the world.
					</p>
				</div>

			</div>
		</div>

		<div class="section-page-landing section-grey">
			<div class="inner-section">
				<div class="container">

					<h2>Looking Forward.</h2>
					<p> While it’s exciting to see Pineapple Repairs grow, it really is just as fun to hear about people who randomly mention us on the radio, in the newspaper, or on blogs. Its been quite a ride so far, and hopefully with the right decisions we can go even further. But no matter how big the brand gets, I want to keep the personal touch and service that people have come to know with Pineapple Repairs. My goal is to provide each customer with the same innovative design, quality goods, and excellent customer service that I would want. We want “Pineapple Repairs” to become simply another way to say “great designs and superior service.”
					</p>
				</div>
			</div>
		</div>
	</div>

</div>

  