<%= render partial: '/shared/banner', locals: { title: 'Thanks!'} %>

<div class="section-page-landing">
  <div class="inner-section">
    <div class="container">

      <h2>HR Will Be In Touch Shortly!</h2>

      <p class="spaced">
        We call back all applicants and job boards will be visible once you've been verified
      </p>

    </div>
  </div>
</div>
