%h1 Contact Us!

%h2 How can we help you?
%p Call us, email us, drop by our (hard to find) shop, or even tweet us.  Currently we’re located inside of Waterfront Station located at the corner of Seymour and West Cordova street.  We are difficult to find inside, so give us a ring at any of the numbers below and we’ll be happy to guide you in.

%h2 Call us
%p Toll Free: 1(888) 5 REPAIR
%p Main Line: 778 889 7642

%h2 Find Us
%p Waterfront Station
%p 25-601 West Cordova Street Vancouver, BC V6B 1G1

%h2 Hours
%p Monday - Friday 11:00AM to 6:00PM
%p Saturday  1:00PM to 3:00PM
%p Sunday  Closed

%h2 Email Us
%p PineappleRepairs@gmail.com
