
%h2 We specialize in fast reliable fixes for your tech devices.

%p 356 Day Warranty
%p 30 Minute Turn Around
%p Shop in Waterfront Station


%h2 We can fix just about any device you bring us

%p iPhone, BlackBerry, Android
%p Laptops, Macbook, Desktops
%p iPads, iPods, Software Solutions

%h2 Request a Repair
%p If your a techy, just like us, I think we'll be friends. We stock a variety of Apple and Android parts, and anything we don't have in stock right now, we can have in one business day. If your the type to take apart your device, we're the guys to help you make it possible. If your looking for special drivers like the pesky penta-lobe driver and even more hard to find Macbook pentalobe driver, we have it in stock. Drop by we like seeing our geeky friends.

