
<%= render partial: '/shared/banner', locals: { title: 'Contractors'} %>

<div class="section-page-landing section-grey">
	<%= render "contractors/subnav" %>
	<div class="inner-section">
		<div class="container">
  		<div class="row product-row">
	    	<div class="col-xs-12">
	    		<div class="contractors page-section">
		  		<header class="blue-header">
			    	<h2>Contractors</h2>
			    </header>

	    		<div class="section-body">
		    		<%= render @contractors %>
		    	</div>
		    </div>
	    	</div>

		  </div>
	  </div>
  </div>
</div>
