$brand-color: #3face9;

$coa-color: #f06d06;
$green-color: #6dc645;
$map-color: #f6f1d3;
$light-blue-color: #9dd8f9;

$darker-coa-color: darken($coa-color, 5%);
$darker-brand-color: darken($brand-color, 10%);
$darker-green-color: darken($green-color, 10%);

