#body-content {
	font-family: Helvetica, sans-serif;
	p {
		font-size: 1.5em;
		line-height: 1.5em;
	}

	.container {
		> p {
			margin-bottom: 60px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}


	a {
		&:hover {
			text-decoration: none;
		}
	}
}

.inner-section {
	text-align: center;
	h2 {
		letter-spacing: .8px;
		font-weight: 700;
		margin-bottom: 30px;
		margin-top: 0;
		text-transform: uppercase;

		&.has-sub {
			margin-bottom: 10px
		}
	}
	h3 {
		margin-top: 0;
		margin-bottom: 20px;
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}


}



.section-grey {
	p {
		font-weight: 300;
	}
}

.section-transparent {
	p, h2 {
		color: #000;
	}
	background-color: transparent;
	//text-shadow: 1px 1px rgba(0,0,0,.2);
}

.wrapper {
	margin-top: 64px;
	background-image: image-url('dock_background.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;

}

.devices {


	button {
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		-ms-transition: all 100ms ease;
		transition: all 100ms ease;
		display: inline-block;
		background-color: transparent;
		color: #fff;
		border: none;

		&:hover {
			text-decoration: none;
			-webkit-transform: scale(1.2);
			color: $brand-color;
		}
	}

	.device {
		text-align: center;

	}
	img {
		height: 200px;
	}
}

.services {

	.service {

	}
	img {
		height: 200px;
	}
}

.features {

	.feature {
		h4 {
			font-weight: 600;
			letter-spacing: .5px;
		}
		span {
			font-size: 4em;
			display: inline-block;
			margin: 10px 0 20px 0;
			color: $brand-color;
		}
	}
}



.icon-arw-down {
	position: absolute;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
