* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	a {
		&:hover {
			text-decoration: none;
			color: $coa-color;
		}
	}
}

.body-content {
	font-family: Helvetica, sans-serif;

	p {
		font-size: 1.5em;
		line-height: 1.5em;
	}

	.container {
		> p {
			margin-bottom: 60px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.about {
	p {
		text-align: justify;
	}
	.section-page-landing {
		img {
			float: right;
		}

		&:nth-child(2n) {
			img {
			float: left;
			margin: 0 60px 30px 0;

		}
		}
	}
	img {
		width: 40%;
		float: right;
		margin: 0 0 30px 60px;



		@media only screen and (max-width: 768px) {
			display: block;
			margin: 0 auto 30px auto;
			width: 75%;
			float: none;
		}
	}
}

@media only screen and (max-width: 768px) {
	.about {
		img {
			width: 100%;
			float: none;
			margin: 0 0 50px 0;
		}
	}

	
}

@media only screen and (max-width: 991px) {
	.option {
		margin-bottom: 50px;

		&.last {
			margin-bottom: 0;
		}
	}
}

.account {
	 h2 {
    font-size: 3.25em;
  }
}

#contact {
	.contact-mode {
		margin-bottom: 25px;

		h3 {
			margin-bottom: 15px;
		}
	}
}

.inner-section {
	text-align: center;


	h2 {
		letter-spacing: .8px;
		font-weight: 700;
		margin-bottom: 40px;
		margin-top: 0;
		font-size: 2.75em;
		text-transform: uppercase;

		&.has-sub {
			margin-bottom: 10px
		}
	}
	h3 {
		margin-top: 0;
		margin-bottom: 20px;
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		font-size: 1.25em;
	}
}





.section-white {
	background-color: #fafafa;
	a {
		color: #222;
	}
}

.feature {
	margin-bottom: 30px;
}

.section-light-grey {

}

.section-grey {
	color: #222 !important;
	background-color: #ddd !important;

	a {
		text-shadow: 1px 1px rgba(0,0,0,0.1);
	}
	p {
		font-weight: 300;
	}
}

.section-transparent {
	background-color: transparent;

	p, h2 {
		color: #000;
	}
}

.wrapper {
	background-image: image-url('banner.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.job-choice, .device {
	img {
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		-ms-transition: all 100ms ease;
		transition: all 100ms ease;
	}

	&:hover {
		text-decoration: none;
		img {
			-webkit-transform: scale(1.2);
		}

		color: $brand-color;

		.btn {
			background-color: lighten($coa-color, 8%);
			box-shadow: 0 0 10px rgba(0,0,0,.2);
			border-bottom: 3px solid darken($coa-color, 5%);
			color: #fff;
		}
	}

	&:active {
		.btn {
			background-color: lighten($coa-color, 8%);
			border-bottom: none;
			border-top: 3px solid darken($coa-color, 8%);
			text-shadow: 0 -1px rgba(0,0,0,.2);
		}
	}
}



.job-choice, .devices {
	button {

		display: inline-block;

		background-color: transparent;
		color: #fff;
		border: none;


	}

	.device {
		text-align: center;


	}
	img {
		height: 200px;
		margin-bottom: 20px;
	}
}

.devices {
	margin-top: 50px;
}

.services {
	margin-bottom: 60px;

	img {
		height: 200px;
	}
}

.features {

	.feature {
		padding: 20px;

		h4 {
			font-weight: 600;
			letter-spacing: .5px;
		}

		span {
			font-size: 4em;
			display: inline-block;
			margin: 15px 0 25px 0;
			color: $brand-color;
		}
	}
}

footer {
	.copyright {
		margin: 20px 0 30px 0;
		text-align: center;
	}
}

.job-list-item {
	a {
		color: #222;
		font-size: 1em;
	}

	.job-list-item-meta {

		.job-list-item-name {

		}
	}
}


.icon-arw-down {
	position: absolute;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.model {
	margin-bottom: 50px;

	.meta {
		margin-top: 25px;
		background-color: #fff;
		border-radius: 5px;
		border: thin solid rgba(0,0,0,.2);

		header {
			border-bottom: thin solid rgba(0, 0, 0, .2);
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			background-color: $coa-color;
		}

		div {
			padding: 20px;
		}
	}

	.model-name {
		padding: 5px 0;
		font-weight: 500;
		font-size: 1.25em;
		color: #fff;

		background-color: transparent;
		border-radius: thin solid rgba(0,0,0,.2);
	}

	.model-price {
		font-size: 3em;
		margin: -15px 0;
	}

	.model-time {
		color: #888;
		font-size: 1.1em;
		margin-top: 5px;
		margin-bottom: 0;
	}
}

 .section-body {
	overflow: auto;

	padding: 50px 15px 10px 15px;
}


.blue-header {
	border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom: thin solid rgba(0,0,0,.2);

		background-color: $brand-color;
		color: #f6f6f6;
		padding: 20px;

		h2, h3 {
			margin-bottom: 0;
		}
}

.page-section {
	background-color: #f6f6f6;
	border-radius: 5px;
	border: thin solid #bbb;
	box-shadow: 0 0 10px rgba(0,0,0,.05);

	img {
		height: 150px;
	}

}

.sub-nav {
  background-color: $brand-color;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;

  .row, ul, li {
    height: 100%;
  }

  ul {
  	width: 100%;
  }



  li {

  	&:first-child:nth-last-child(1) {
			width: 100%;
		}

		/* two items */
		&:first-child:nth-last-child(2),
		&:first-child:nth-last-child(2) ~ li {
			width: 50%;
		}

		/* three items */
		&:first-child:nth-last-child(3),
		&:first-child:nth-last-child(3) ~ li {
			width: 33.333%;
		}

		/* four items */
		&:first-child:nth-last-child(4),
		&:first-child:nth-last-child(4) ~ li {
			width: 25%;
		}
    //width: 33%;
    border-right: thin solid rgba(0,0,0,.1);
    font-weight: 700;
    margin: 0;
    margin-left: -5px;
    padding: 0;
    font-size: 16px;

    &:first-child {
      margin: 0;
      border-left: thin solid rgba(0,0,0,.1);
    }

    a {
      display: inline-block;
      width: 100%;
      color: #eaeaea;

      &:hover {
        color: $brand-color;
        background-color: #fff;
      }
    }
  }

  @media only screen and (max-width: 768px) {
  	li {
  		&:first-child {
  			border-left: none;
  		}

  		&:last-child {
  			border-right: none;
  		}
  	}
  }  
} // .sub-nav

.list-inline {
	margin: 0;
}

.currency, .cents {
	font-size: 50%;
	position: relative;
	bottom: .6em;
}

.cents {
	margin-left: 2px;
}

.job-progress {
	margin-top: 30px;

	overflow: auto;

	.step-name {
		margin-right: 5px;
	}

	@media only screen and (max-width: 768px) {
		.progress-title {
			&:not(.shown) {
				display: none;
			}
		}
	}
}

.job-choices {
	overflow: auto;
	display: block;
	clear: both;

	.job-choice {
		padding-top: 50px;


		img {
			height: 150px;
		}
	}

	.change-steps {
		clear: both;

		div[class^="col"] {
			margin-top: 20px;
		}
	}
}

.account-box {
	padding: 20px;

	> div {
		display: inline-block;
		vertical-align: top;
	}

	.account-image {
		width: 80px;
		margin-right: 20px;
		padding-top: 20px;

		img {.
			width: 100%;
			height: auto;
		}
	}

	.account-meta {
		width: calc(100% -100px);
	}
}

.page-section {
	margin-bottom: 75px;
	ul {
			padding: 10px 0;
			li {
				margin: 10px 0;
				font-size: 1.2em;
				list-style: none;
			}
		}
}

.job {
	.job-meta-section {
		margin-bottom: 30px;
	}

	.heading {
		text-transform: uppercase;
	}
	.meta {


	}
}

.flash {
	background-color: #1cb1d0;
	color: white;
	height: 65px;
	top: 65px;
	position: absolute;
	z-index: 10;
	width: 100%;

	&.error {
		background-color: $coa-color;
	}
}
