.homepage {
	#banner {
		min-height: 650px;
	}
}

#banner {
	min-height: 300px;
	background-image: image-url('banner.jpg');
	background-size: cover;
	background-position: center center;	
	
	button {
		position: relative;
		margin: 60px 0;
		letter-spacing: .2px;

		span {
			font-size: .8em;
			right: 17px;
			top: 15px;
		}
	}
}

.banner {
	height: 100%;
	position: relative;
	border-bottom: thin solid rgba(0,0,0,.2);

	text-shadow: 1px 1px rgba(0,0,0,.25);

	.shade {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		background-color: rgba(0,0,0,.2);
	}

	
	.awesome-slogan {
		position: relative;
		padding-top: 175px;
		z-index: 2;

		h2, h4 {
			span {
				color: $brand-color;
			}
		}
		h2 {
			margin-top: 0;
			font-weight: 700;
			font-size: 5em;
			letter-spacing: .5px;
			span {

			}
		}
	}
}