
@mixin style-buttons($color, $border-color, $text-color) {
	background-color: $color;
	border: 4px solid $border-color;
	color: $text-color;

	&:hover, &:focus {
		background-color: lighten($color, 8%);
		border-color: $border-color;
	}

	&:active {
		background-color: lighten($color, 8%);
		border-color: $border-color;
	}
}

.btn {
	padding: 10px 25px;
	font-size: 1.25em;
	outline: none !important;
	-webkit-appearance: none;
	appearance: none;

	-webkit-transition: background-color 150ms ease;
	-moz-transition: background-color 150ms ease;
	-ms-transition: background-color 150ms ease;
	transition: background-color 150ms ease;
}

.btn-primary {
	@include style-buttons($darker-green-color, white, white);
}

.btn-default {
	@include style-buttons($brand-color, $light-blue-color, white);
}

.btn-autocomplete {
	@include style-buttons($darker-brand-color, white, white);

	&.btn-green {
		@include style-buttons($darker-green-color, white, white);
	}
}


