
#nav-menu {
	position: absolute;
	height: 55px;
	padding: 0;
	line-height: 55px;

	#logo {
		padding: 0;
		height: 100%;

		a {
			color: white;
			font-size: .8em;
			line-height: 55px;
			float: left;
			font-size: 25px;

			&:hover {
				color: white;
			}
		}

		img {
			margin-top: -48px;
		}
	}

	.menus {
		padding: 0;
		//margin-top: -11px;

		ul {
			li {

				a {
					color: #222;
					font-weight: 700;
					letter-spacing: .2px;
					line-height: 55px;

					height: 55px;
					line-height: 55px;
					border-radius: 0 !important;
					padding-top: 0 !important;
					padding-bottom: 0 !important;
					padding: 0 20px !important;
					text-transform: uppercase;

					&:hover {
						background-color: $brand-color;
						color: #fff;
					}

				}
				&.active {
					a {
						background-color: #fff;

						&:hover {
							background-color: #fff;
						}
					}
				}
			}
		}
	} // .menus

	.navbar {
		border: none;
	}

}

@media only screen and (max-width: 768px) {
	#nav-menu {

		.navbar-collapse {
			position: absolute;
			right: 0;
			top: 55px;
			background-color: #fff;
			ul {
				li {
					display: block;
					width: 250px;
				}
			}
		}
	}
	.navbar-toggle {
		margin: 0;
		height: 55px;

		span {
			font-size: 2em;
			color: white;
			position: relative;
			bottom: 8px;
		}
	}
}





